@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-image: url('assets/images/pawPrint.png');
  background-repeat: repeat;
  background-size: 70px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

* {
  font-family: 'Comic Sans MS', cursive, sans-serif !important;
  scrollbar-width: thin;
  scrollbar-color: #6d4c41 #f8f8f8;
}