header {
    background-color: #6d4c41;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #d7ccc8;
    padding: 10px 0;
    text-align: center;
}

nav a {
    padding: 10px;
    margin: 0 10px;
    color: #6d4c41;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 10px;
}

nav a:hover {
    background-color: #c9aa9f;
}

header span {
    display: block; /* Display the welcome message on a new line */
    font-size: 18px; /* Increase font size */
    margin-top: 10px; /* Add some spacing above the welcome message */
    background-color: #795548; /* Dark brown background color */
    padding: 10px; /* Padding around the welcome message */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}
