<div *ngIf="isLoading" class="spinner-overlay">
    <mat-spinner [color]="'accent'"></mat-spinner>
</div>

<header>
    <h1 class="title">Cynology Website</h1>
    <p>Your ultimate guide to everything about dogs!</p>
    <div class="header-content">
        <span>Welcome, dog lover: {{ username }}</span>
        <a type="button" href="/enter-username">Login/Register</a>
    </div>
</header>
<nav>
    <a href="">Home</a>
    <a href="quiz">Quiz</a>
    <a href="gallery">Gallery</a>
    <a href="favorites">Favorites</a>
    <a href="forum">Forum</a>
</nav>
<router-outlet></router-outlet>