header {
    background-color: #6d4c41;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #d7ccc8;
    padding: 10px 0;
    text-align: center;
}

nav a {
    padding: 10px;
    margin: 0 10px;
    color: #6d4c41;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 10px;
}

nav a:hover {
    background-color: #c9aa9f;
}