<app-wrapper [isLoading]="isLoading">
  <div class="forum-container">
    <div class="topic-header">
      <div class="back-link" (click)="backToForumTopics()">
        <svg viewBox="0 0 20 20" class="back-arrow">
          <path d="M10 15l-5-5 5-5v10z" />
        </svg>
        <span class="back-text">Back to forum topics</span>
      </div>
      <h2 class="topic-title">{{ topicId | titlecase }} Discussion</h2>
    </div>

    <!-- New Discussion Form -->
    <section class="new-discussion">
      <input placeholder="Enter thread title" [(ngModel)]="newThreadTitle">
      <textarea placeholder="Start a new discussion" [(ngModel)]="newThreadContent"></textarea>
      <button (click)="newThread()"
      [disabled]="!newThreadTitle || !newThreadContent"
      [ngClass]="{ 'disabled-button': !newThreadTitle || !newThreadContent }">
        Start Discussion
      </button>
    </section>

    <!-- List of Discussions -->
    <section class="discussion-list">
      <article *ngFor="let discussion of threads; let i = index" class="discussion">
        <header class="discussion-info">
          <span class="username">{{ discussion.cynologyUserId }}</span>
          <span class="timestamp">{{ discussion.datePosted | date }}</span>
        </header>
        <h4 class="discussion-title">{{ discussion.title }}</h4>
        <p class="discussion-text">{{ discussion.text }}</p>

        <div class="discussion-footer">
          <input class="reply-to-thread-input" type="text" placeholder="Reply to this thread" [(ngModel)]="replyMessages[i]">
          <button class="comment-button"
            (click)="replyToThread(discussion.id, i)"
            [disabled]="!replyMessages[i]"
            [ngClass]="{ 'disabled-button': !replyMessages[i] }">
            Comment
          </button>
        </div>

        <!-- Replies -->
        <div class="replies">
          <article *ngFor="let reply of discussion.replies" class="reply">
            <header class="reply-info">
              <span class="username">{{ reply.userId }}</span>
              <span class="timestamp">{{ reply.datePosted | date }}</span>
            </header>
            <p class="reply-text">{{ reply.text }}</p>
            <button class="reply-button" (click)="commentToReply(reply.id, discussion.id)">Reply to user</button>
          </article>
        </div>
      </article>
    </section>
  </div>
</app-wrapper>