<div class="container">
  <section class="gallery">
    <div class="gallery-item" *ngFor="let dog of data">
      <img src="{{dog.url}}" (click)="displayDetails(dog)">
      <p>{{ dog.breeds[0].name }}</p>
      <div class="vote-container">
        <div class="vote-buttons">
          <button class="upvote" (click)="vote(1, dog)">
            <i class="fas fa-arrow-up"></i> Upvote
          </button>
          <button class="downvote" (click)="vote(0, dog)">
            <i class="fas fa-arrow-down"></i> Downvote
          </button>
          <button (click)="addToFavorites(dog)">Add to favorites</button>
        </div>
        <div>
          Upvotes:
          <span>
            {{ dog.upvotes ? dog.upvotes : 0 }}
          </span>
          |
          Downvotes:
          <span>
            {{ dog.downvotes ? dog.downvotes : 0 }}
          </span>
        </div>
      </div>
    </div>
  </section>
</div>