.gallery-container {
    margin: 30px auto;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #6d4c41;
    border-radius: 20px;
    padding: 0 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    color: #ffffff;
}

.gallery img {
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    height: 200px;
    width: 260px;
    object-fit: fill;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    background-color: #553b32;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 10px !important;
    margin: 0;
}

.gallery-container button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gallery .upvote {
    background-color: #a5d6a7;
    color: #2d6a4f;
}

.gallery .downvote {
    background-color: #ef9a9a;
    color: #b71c1c;
}

.gallery .in-favorites {
    color: #bd1010 !important;
}

.gallery .favorites {
    background-color: transparent;
    font-size: 17px;
    color: #f0f8ff;
}

.gallery button:hover {
    background-color: #7e5a4f;
}

.dog-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.votes {
    text-align: center;
}

.pagination {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.pagination button {
    margin-right: 5px;
}