<div class="gallery-container">
  <section class="gallery">
    <div class="container gallery-item" *ngFor="let breed of data">
      <img src="{{ breed.image.url }}" (click)="displayDetails(breed)">
      <div class="dog-name">
        <span>{{ breed.name }}</span>
        <button class="favorite" (click)="addToFavorites(breed)"> &#10084; </button>
      </div>
      <div class="votes">
        <button class="upvote" (click)="vote(1, breed)"> &uarr; </button>
        <span> Upvotes: {{ breed.upvotes ? breed.upvotes : 0 }} | Downvotes: {{ breed.downvotes ? breed.downvotes : 0 }} </span>
        <button class="downvote" (click)="vote(0, breed)"> &darr; </button>
      </div>
    </div>
  </section>
  <div class="container pagination">
    <button (click)="goToFirstPage()" [disabled]="currentPage === 0"> &lArr; </button>
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 0"> &larr; </button>
    <span> Page {{ currentPage + 1 }} of {{ totalPages }} </span>
    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages - 1"> &rarr; </button>
    <button (click)="goToLastPage()" [disabled]="currentPage === totalPages - 1"> &rArr; </button>
  </div>
</div>