.breed-dialog {
    color: #6d4c41;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-heading h1 {
    color: #2d6a4f;
    margin-bottom: 10px;
    margin-top: 0;
}

.dialog-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.center-content {
    margin: 0 1rem;
    justify-content: center;
    text-align: center;
}

.breed-dialog img {
    border-radius: 8px;
    max-width: 700px;
}

.breed-dialog p {
    margin: 5px 0;
}

.breed-dialog p strong {
    color: #795548;
}