<div class="breed-dialog">
  <div class="dialog-heading">
    <h1 mat-dialog-title>{{ data.name }}</h1>
  </div>
  <div class="dialog-content">
    <div class="left-content">
      <p><strong>Breed Group:</strong> {{ data.breed_group ? data.breed_group : 'unknown' }}</p>
      <p><strong>Bred For:</strong> {{ data.bred_for ? data.bred_for : 'unknown' }}</p>
      <p><strong>Life Span:</strong> {{ data.life_span ? data.life_span : 'unknown' }}</p>
      <p><strong>Origin:</strong> {{ data.origin ? data.origin : 'unknown' }}</p>
      <p><strong>Weight:</strong> {{ data.weight.metric ? data.weight.metric : 'unknown' }} kg</p>
      <p><strong>Height:</strong> {{ data.height.metric ? data.height.metric : 'unknown' }} cm</p>
    </div>
    <div class="center-content">
      <img [src]="data.image.url" alt="{{ data.name }}">
      <p><strong>Temperament:</strong> {{ data.temperament ? data.temperament : 'unknown' }}</p>
    </div>
  </div>
</div>