<!-- EXPERIMENTAL -->
<div class="ticker-container">
  <div class="ticker-content" id="ticker-content">
      <!-- Dog votes content will be dynamically added here -->
  </div>
</div>
<!--  -->

<div class="container">
  <section class="welcome-section">
      <h1 class="welcome-title">Explore the world of dogs, learn about different breeds, and have fun!</h1>
      <p class="welcome-text">
        Welcome to our website dedicated to everything about dogs.
        Whether you're a dog lover, owner, or just curious, we've got something for you. Get started now!
      </p>
      <button class="welcome-button" (click)="redirectToGallery()">Get started!</button>
  </section>
</div>