.new-discussion {
    margin-bottom: 20px;
}
  
.new-discussion input {
    width: calc(50% - 20px);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
    
.new-discussion textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
    
.new-discussion button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #439b46;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    
.new-discussion button:hover {
    background-color: #317234;
}

.discussion {
    background-color: #553b32;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
    
.discussion-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.username, .timestamp {
    font-size: 14px;
    margin-bottom: 10px;
}
  
.reply-content {
    margin-top: 5px;
    position: relative;
}

.reply-button {
    position: absolute;
    bottom: 0; 
    right: 0;
    width: auto;
    padding: 8px 12px;
    background-color: #6d4c41;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.reply-button:hover {
    background-color: #6b5249;
    transform: translateX(-2px);
}
  
.reply {
    background-color: #a5d6a7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.reply-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.replies {
    margin-top: 10px;
}
  
.discussion-content {
    margin-bottom: 10px;
}

.forum-container {
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #6d4c41;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
  
.forum-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
