<!-- general-forum.component.html -->

<div class="forum-container">
    <h2>General Discussion</h2>
  
    <!-- New Discussion Form -->
    <div class="new-discussion">
      <input placeholder="Enter thread title" [(ngModel)]="newThreadTitle">
      <textarea placeholder="Start a new discussion" [(ngModel)]="newThreadContent"></textarea>
      <button (click)="startDiscussion()">Start Discussion</button>
    </div>
  
    <!-- List of Discussions -->
    <div class="discussion-list">
      <div *ngFor="let discussion of threads; let i = index">
        <div class="discussion">
          <div class="discussion-info">
            <span class="username">{{ discussion.cynologyUserId }}</span>
            <span class="timestamp">{{ discussion.datePosted| date }}</span>
          </div>
          <h4 class="discussion-content">{{ discussion.title }}</h4>
          <p class="discussion-content">{{ discussion.text }}</p>
          <!-- Replies -->
          <div class="replies">
            <div *ngFor="let reply of discussion.replies">
              <div class="reply">
                <div class="reply-info">
                  <span class="username">{{ reply.userId }}</span>
                  <span class="timestamp">{{ reply.datePosted| date }}</span>
                </div>
                <div class="reply-content">{{ reply.text }}
                    <button class="reply-button" (click)="replyToReply(reply.id)">Reply to user</button>
                </div>
              </div>
            </div>
            <!-- New Reply Form -->
            <!-- <div class="new-reply">
              <textarea placeholder="Reply to this discussion" [(ngModel)]="discussionTextAreas[i]"></textarea>
              <button (click)="replyToDiscussion(discussion.id, )">Reply</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  